body {
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainbox {
    width: 700px;
    height: 400px;
}

#header {
    height: 25%;
}

#header img {
    margin-right: 20px;
}

#header img {
    object-fit: none;
}

#body {
    background-color: white;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page{
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 85%;
    height: 65%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login {
    background-color: rgb(113, 27, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70px;
    border-radius: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: rgb(161 161 161);
}

footer img {
    object-fit: none;
    margin-right: 10px;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(161 161 161));
}

.footer{
    display: flex;
}